= link_to 'Back to AnyFest', main_app.root_path
%p{style: 'padding-top:15px; padding-left:15px; padding-right:15px'}
  = link_to destroy_session_path(:user), :method => :delete do
    %i.fa.fa-sign-out
    Logout