%ul#templates
  - @templates.each do |t|
    %li= link_to t.name, {action: 'show', id: t.id}
= link_to "Add new", {action: 'new'}

- if (user_signed_in?)
  - if (current_user.is_admin?)
    #trestle
      = link_to "trestle", trestle.root_path
