#show-template.row
    #image.col
        - if(@template.background_image.attached?)
            =image_tag(@template.background_image, class: "image img-fluid")
    .info.col
        %h1#name
            %b
                = @template.name
        %h2#festival
            = link_to @template.festival.name, festival_path(@template.festival)
        %h2#user
            = current_user.email
        .prompt
            %h3
                Like what you see? Use this template to create your own mock lineup!
        = link_to "GO", new_template_lineup_path(@template), {class: "btn btn-primary"}