#show-lineup
    .page-content.row
        .container.col{"data-target": "lineup.output"}
            .img-container
                = image_tag(@template.background_image, class: "image img-fluid")
                .text
            - @lineup.section_acts.each do |section_act|
                - section = Section.find(section_act.section_id)
                = content_tag :div, nil, data: {controller: "lineup", lineup_sectionHeight: section.height, lineup_sectionWidth: section.width, lineup_section_x_offset: section.x_offset, lineup_section_y_offset: section.y_offset, lineup_sectionDelineator: section.delineator, lineup_section_text_colors: section.text_colors, lineup_section_delineator_color: section.delineator_color, lineup_acts: section_act.acts}
        .info.col
            %h1 
                = @lineup.name