%h1 Add new Festival
= form_with model: @festival do |f|
  %p
    %label{for: "name"} Name
    = f.text_field :name 
  %p
    %label{for: "location"} Location
    = f.text_field :location

  = f.submit "Create"
