* {
  background-color: #4ecdc4;
  font-weight: bold;
}

h1 {
  font-size: 55;
  color: white;
}

h2 {
  font-size: 44;
  color: white;
}

h3 {
  font-size: 32;
  color: white;
}

a {
  font-size: 30;
  color: #1a535c;
}

.btn-primary {
  background-color: #ffe66d;
  border: 3px solid #ff6b6b;
  color: #ff6b6b;
  font-weight: bold;
  border-radius: 20px;
}

.btn-secondary {
  background-color: #4ecdc4;
  border: 3px solid #ff6b6b;
  color: #ff6b6b;
  font-weight: bold;
  border-radius: 20px;
}
