* {
  background-color: #4ecdc4;
  font-weight: 600;
  color: white;
  font-family: "Nunito", sans-serif;
}

#content {
  padding: 10vh 20vh;

  h1 {
    font-size: 55;
    color: white;
  }

  h2 {
    font-size: 44;
    color: white;
  }

  h3 {
    font-size: 32;
    color: white;
  }

  a {
    font-size: 30;
    color: #1a535c;
  }

  .btn-primary {
    background-color: #ffe66d;
  }

  .btn-secondary {
    background-color: #4ecdc4;
  }

  .btn {
    border: 2px solid #ff6b6b;
    color: #ff6b6b;
    font-weight: 900;
    border-radius: 20px;
    padding: 0.6em;
    cursor: pointer;
  }

  .form-control {
    background-color: white;
    border: 2px solid #ff6b6b;
    border-radius: 5px;
    color: #1a535c;
    width: 30%;
    margin: 1em 0;
    font-size: 30;

    transition: border 0.4s ease-in-out;

    &:focus {
      background-color: white;
      border: 2px solid #1a535c;
      border-radius: 5px;
      outline: none;
    }
  }

  #big-text {
    text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
    #any {
      color: #ffe66d;
      font-size: 7vw;
    }
    #fest {
      color: #ff6b6b;
      font-size: 7vw;
    }
  }

  #login {
    margin-left: 20vw;
    a {
      margin-top: 1vh;
      margin-left: 0.25vw;
      display: inline-block;
    }
    .btn {
      margin-top: 1vh;
    }
  }
}
